body {
    main{
        .carousel-container{
            display: flex;
            flex-direction: column;
            align-items: center;
            .glide__slides{
                margin: 0;
            }
        }
    }
}