.row {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 0 2vh;
    &.reverse {
        flex-direction: row-reverse;
    }

    .block-content {
        border-radius: 0.8vw;
        min-height: 10vh;
        margin: 2vh 2vh;
        padding: 4vh 2vh;
        overflow: hidden;
        position: relative;
        &.small-block {
            flex-grow: 0;
            flex-shrink: 0;
        }
        &.medium-block{
            flex-grow: 1;
            flex-basis: 0;
            flex-shrink: 0;
			@include responsive('xs'){
				order: -1;
				flex-basis: 100%;	
			}
        }
        &.large-block {
            flex-grow: 2;
            flex-basis: 0;
			@include responsive('xs'){
				flex-basis: 100%;	
			}
        }

        &.margin-left-side{
            margin-left: 18vh;
        }

        &.centered{
            display: flex;
            flex-direction: column;
            align-items: center;
            h1,h2,h3,h4,h5,h6{
                align-self: flex-start;
                margin-left: 4vh;
                margin-right: 8vh;           
            }
        }

        &.color-sky {
            border: solid $color-sky;
            background-color: $color-sky_t;
        }
        &.color-sand {
            border: solid $color-sand;
            background-color: $color-sand_t;
        }
        &.color-cloud {
            border: solid $color-cloud;
            background-color: $color-cloud_t;
        }
        &.color-ocean {
            border: solid $color-ocean;
            background-color: $color-ocean_t;
            color: $white;

        }
        
        .ul-no-bullet{
            list-style-type: none;
            margin: 0;
            padding: 0;
        }
        
        img{
            
            position: absolute;
            left: 50%;
            top: 50%;
            transform: scale(0.33) translate(-150%,-150%);
			@include responsive('xs'){
			}
        }
    }
    .button {
        margin-left: 1vw;
        margin-top: 1em;
        padding: 7px 20px;
        border-radius: 0.8vw;
        border: none;
        
        &.button_sand{
            background-color:$color_sand;
        }
        &.button_ocean{
            background-color:$color_ocean;
            color: $white;
            
        }   
    }
}

.container{
    padding: 0 2rem;
}