.row {
    display: flex;
    justify-content: space-evenly;
    margin: 50px 100px;
    &.reverse {
        flex-direction: row-reverse;
    }
    .h {
        border-radius: 4px;
        height: 200px;
        margin: 0 2vh;

        &.sm {
            flex-grow: 1;
        }

        &.lg {
            flex-grow: 2;
        }
        &.color-sky {
            border: solid $color-sky;
            background-color: $color-sky_t;
        }

        &.color-sand {
            border: solid $color-sand;
            background-color: $color-sand_t;
        }
        &.color-cloud {
            border: solid $color-cloud;
            background-color: $color-cloud_t;
        }
        &.color-ocean {
            border: solid $color-ocean;
            background-color: $color-ocean_t;
        }

        .contact {
            width: 20vw;
            margin-left: auto;
            margin-right: auto;
        }
    }
}
