.row {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 0 2vh;
    &.reverse {
        flex-direction: row-reverse;
    }
    .block {
        border-radius: 0.8vw;
        min-height: 10vh;
        margin: 2vh 2vh;
        padding: 4vh 0;
        overflow: hidden;
        position: relative;
        &.sm {
            flex-grow: 0;
            flex-shrink: 0;
        }

        &.md{
            flex-grow: 1;
            flex-basis: 0;
            flex-shrink: 0;
        }

        &.lg {
            flex-grow: 2;
            flex-basis: 0;
        }

        &.centeredV{
            display: flex;
            flex-direction: column;
            align-items: center;
            h1,h2,h3,h4,h5,h6{
                align-self: flex-start;
                margin-left: 4vh;
                margin-right: 8vh;              
            }
        }
        &.centeredH{
            justify-content: center;

            p{
                margin: 0 1vh;
            }
        }

        &.color-sky {
            border: solid $color-sky;
            background-color: $color-sky_t;
        }
        &.color-sand {
            border: solid $color-sand;
            background-color: $color-sand_t;
        }
        &.color-cloud {
            border: solid $color-cloud;
            background-color: $color-cloud_t;
        }
        &.color-ocean {
            border: solid $color-ocean;
            background-color: $color-ocean_t;
            color: $white;

        }
        
        ul{
            list-style-type: none;
            margin: 0;
            padding: 0;
        }
        
        img{
            
            position: absolute;
            left: 50%;
            top: 50%;
            transform: scale(0.33) translate(-150%,-150%);
        }
    }

}
