body {
    &>footer{
    color: $black;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 50px;
    background-color: $color_sand;
    font-size: 2em;
    margin-top: 30px;
    }
}