body {
    &>footer{
        color: black;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100px;
        background-color: $color_sand;
        margin-top: 30px;
        padding: 10px 10vh;
		@include responsive('xs'){
			flex-wrap: wrap;
			height: auto;
		}
    }
}