body {
    &>footer{
        color: black;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100px;
        background-color: $color_sand;
        margin-top: 30px;
        padding: 10px 10vh;
		@include responsive('xs'){
			flex-wrap: wrap;
			height: auto;
        }
        
        button {
            display: inline-block;
            padding: 6px 5vh;
            background-color: $white_t;
            border: $white_t solid;
            cursor: pointer;

            &:hover {
                background-color: $white;
            }

            &:active {
                background-color: $color_sand_t;
            }
        }
    }
}