form {

    h2 {
        margin-left: 1vw;
    }
    
    .form-field {
        margin: 1vh 2vw;
        width: inherit;
        display: flex;
        input{
            display: inline-block;
            width: 50%;
            margin-left: auto;
        }
        select{
            margin-left: auto;
        }
    }

    .form_row {
        display: flex;
        margin-bottom: 1rem;

        label {
            order: 1;
            display: inline-block;
            padding: 0.5rem 1rem;
            width: 200px;
            text-align: right;
            vertical-align: top;
        }

        input,
        textarea {
            order: 2;
            padding: 0.5rem 1rem;
            width: 400px;
        }

        & *[required] ~ label:after {
            content: " *";
            color: red;
        }
    }

    .form_row_centered {
        text-align: center;
    }
     
}