@font-face {
    font-family: 'harmony';
    src: url(../harmony.ttf);
}
body{
    &>header{
        color:#F0F0F0;
        font-family: 'harmony';
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 100px;
        font-size: 200%;
        background-color: #BFAFAC;
        h1,img{
            margin-left: 20px;
        }
    }
}
