body {
    &>header{
        color: $white;
        display: flex;
        align-items: center;
        height: 110px;
        background-color: $color_cloud;
        @include responsive('xs'){
			flex-wrap: wrap;
			height: auto;
		}

        a{
            max-height: 90px;
        }
        
		.burger{
			font-size: 2rem;
			margin: auto;
			color: $white;
			@include responsive('sm'){
				display: none;
			}
			@include responsive('xs'){
				display: inline;
			}
		}
		
        img{
            margin-left: 20px;
			@include responsive('xs'){
				margin-left: 5px;	
			}
        }

        h1 {
            font-family: $font-title;
            margin-left: 20px;
			@include responsive('xs'){
				margin-left: 5px;	
			}
			@include responsive('sm'){
				font-size: 1.8rem;
			}
			@include responsive('md'){
				font-size: 2rem;
			}
			@include responsive('lg'){
				font-size: 2.4rem;
			}
            a {
                text-decoration: none;
                color: $white;
            }
        }

        &>nav {
			margin: auto;
            flex-wrap: wrap;
			font-weight: bold;
            a{
				text-decoration: none;
				color: $white;

				&:hover, &.active {
                color: $color_sky;
				border-bottom:5px solid $color_sky
            	}
			}

            ul {
                list-style-type: none;
				li{
					display: inline;
					margin: 0 10px 0 10px;
				}
            }
			
			@include responsive('sm'){
				font-size: 0.8rem;
			}
			@include responsive('md'){
				font-size: 1.2rem;
			}
			@include responsive('lg'){
				font-size: 1.4rem;
			}
			@include responsive('xs'){
				display: none;
				order: 1;
				flex-basis: 100%;
				ul{
					text-align: center;
					li{
						display: block;
						margin: 10px 0 10px 0;
					}
				}
			}
        }
        p{
			@include responsive('xs'){
				display: none;	
			}
            margin-left: auto;
            margin-right: 20px;
            a {
                color: $color_sky;
                text-decoration: none;
                &:hover,
                &:visited {
                    color: $color_ocean;
                }
            }
        }
	}
}