body {
    &>header{
        color: $white;
        display: flex;
        align-items: center;
        height: 110px;
        background-color: $color_cloud;
        font-size: 2em;

        a{
            max-height: 90px;
        }
        
        img{
            margin-left: 20px;
        }

        h1 {
            font-family: $font-title;
            margin-left: 20px;
            font-size: 1.2em;
            a {
                text-decoration: none;
                color: $white;
            }
        }

        &>nav {
			margin-left: auto;
            display: flex;
            flex-wrap: wrap;
            font-size: .5em;
			@include responsive('lg'){
				font-size: .8em;
			}
			@include responsive('xs'){
				display: none;	
			}
            a{
				text-decoration: none;
				color: $white;

				&:hover, &.active {
                color: $color_sky;
				border-bottom:5px solid $color_sky
            	}
			}

            ul {
                list-style-type: none;
            }
        }
        p{
            margin-left: auto;
            margin-right: 20px;
            a {
                color: $color_sky;
                text-decoration: none;
                &:hover,
                &:visited {
                    color: $color_ocean;
                }
            }
        }
	}
}