body {
    &>header{
    color: $white;
    font-family: $font-title;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100px;
    font-size: 200%;
    background-color: $color_cloud;
        h1,img{
            margin-left: 20px;
        }
    }
}

.logo{
    display: flex;
    align-items: flex-end;
}