body {
    margin: 0;
    background-color: #F0F0F0;
    background-image: url(../img/logonice2.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:contain;
    background-position: center bottom;

    &>header{
        color:#F0F0F0;
        font-family: $font-title;
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 100px;
        font-size: 200%;
        background-color: #BFAFAC;
        h1,img{
            margin-left: 20px;
        }
    }
    .logo{
        display: flex;
        align-items: flex-end;
    }

}

.carousel-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    .glide__slides{
        margin: 0;
    }
}