body{
  main{
    .side-nav{
      display: flex;
      flex-direction: column;
      width: 16vh;
      height: 100%;
      z-index: 1;
      position: fixed;
      top: 110px;
      left: 0;
      background-color: $color_sky;
      a{
        margin-left: 20px;
        margin-top : 10px;
        margin-bottom: 10px;
        text-decoration: none;
        color: $white;
        display: block;
        &:hover{
          color: $color_sand;
        }
      }
    }
  }
}