@import "variables/fonts";
@import "variables/colors";
@import "helpers/mixins";

@import "header";
@import "content";
@import "layout";
@import "table";
body {
    &>header{
        position: fixed;
        width: 100%;
        height: 160px;
        top: 0;
        left: 0;
        z-index: 1;
        flex-direction: column;
        &>a{
            margin-bottom: 1rem;
            img{
                margin: 0;
            }
        }
    }

    .date{
        margin-right: auto;
        margin-bottom: 1rem;
    }
    .addresse{
        margin-left: auto;
        margin-bottom: 2rem;
        font-size: 1.25rem;
        p{
            margin: 0;
        }
    }

    main{
      	margin-top: 160px;
    }
}