@import "variables/fonts";
@import "variables/colors";
@import "helpers/mixins";

@import "header";
@import "side-nav";
@import "content";
@import "formulaire";
body {
  margin: 0;
  background-color: $white;
  background-image: url(../img/logonicetr2.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: contain;
  background-position: center bottom;
  &>header{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
  }
}