@import "variables/fonts";
@import "variables/colors";
@import "helpers/mixins";

@import "header";
@import "side-nav";
@import "content";
@import "formulaire";
@import "layout";
@import "table";
body {
    &>header{
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 1;
    }

    main{
      	margin-top: 150px;
    }
}