@import "variables/fonts";
@import "variables/colors";
@import "helpers/mixins";

@import "header";
@import "side-nav";
@import "content";

body {
  margin: 0;
  background-color: $white;
  background-image: url(../img/logonicetr2.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: contain;
  background-position: center bottom;
}