//base imports
@import "variables/fonts";
@import "variables/colors";
@import "helpers/mixins";

// components imports
@import "carousel";
@import "header";
@import "content";
@import "footer";
@import "table";

//layout imports
@import "layout";
