$white: #F0F0F0;
$black: #000000;
$color_cloud: #BFAFAC;
$color_sand: #FFAE44;
$color_sky: #469bba;
$color_ocean: #2C4A63;

$color_cloud_t: rgba(191, 175, 172, 0.9);
$color_sand_t: rgba(255, 174, 68, 0.9);
$color_sky_t: rgba(70, 155, 186, 0.9);
$color_ocean_t: rgba(44, 74, 99, 0.9);