$white: #f0f0f0;
$black: #000000;
$color_cloud: #bfafac;
$color_sand: #ffae44;
$color_sky: #469bba;
$color_ocean: #2c4a63;

$color_cloud_t: rgba(191, 175, 172, 0.9);
$color_sand_t: rgba(255, 174, 68, 0.9);
$color_sky_t: rgba(70, 155, 186, 0.9);
$color_ocean_t: rgba(44, 74, 99, 0.9);